/*
* @Author: ww
* @Date:   2018-06-13 11:45:43
* @Last Modified by:   ww
* @Last Modified time: 2018-07-19 14:31:21
*/
@import "public.scss";

@function rem($n){
	@return  $n/2/37.5; 
}
 .view{
   position: absolute;
   left:50%;
   top:50%;
   margin-left:rem(-150rem);
   width: rem(300rem);
   height: rem(50rem);
   border: 1px solid red;
   overflow: hidden;
   li{
     width: rem(300rem);
     height: rem(50rem);
     line-height: rem(50rem);
     float: left;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
   }
 }
